.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--light-bg-color);
}
.logo-text {
  padding: 0 8px;
  font-weight: 500;
  font-size: 14px;

  span:first-of-type {
    color: var(--accent-color)
  }

  span:last-of-type {
    color: var(--primary-color)
  }
}

.user {
  font-size: 14px;
}
