<div class="container">
  <h4 class="pb-3">School Overview</h4>

  <!-- SCHOOL METRICS -->
  <div class="row mb-2">
    @for (metric of adminSummary$ | async; track metric.title) {
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
          <app-summary-card [title]="metric.title" [value]="metric.value"></app-summary-card>
      </div>
    }
  </div>

  <!-- LAST EXAM SUMMARY -->
  @if (lastExamPerformances$ | async; as summary) {
    <div class="row">
      <div class="col-md-8 mb-4">
        <app-barchart
          [title]="summary.title"
          [xAxisLabels]="summary.xAxisNames"
          [seriesValues]="summary.yAxisData"
          (chartClick)="onChartEvent($event)">
        </app-barchart>
      </div>

      <!-- ENABLE VIEWING SUBJECT/STREAM PERFORMANCE FOR EXAM -->
      <div class="col-md-4 mb-4">
        <app-chart-data
          [title]="displayTitle"
          [displayedData]="displayedData"
          [mode]="displayMode"
          [modes]="displayModes"
          (onToggleMode)="toggleDisplayedData()"
        ></app-chart-data>
      </div>
    </div>
  }

  <!-- CLASSES SUMMARY OF EXAMS -->
  @if (classScores$ | async; as classes) {
    <div class="row mt-3">
      <h5 class="px-4 pb-2">Performance per Class</h5>
      <div class="col-md-12 table-responsive">
        <app-table [rows]="classes"></app-table>
      </div>
    </div>
  }
</div>
