<div class="container">

  <div class="row mb-2">
    @for (student of studentInfo$ | async; track student.title) {
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
          <app-summary-card [title]="student.title" [value]="student.value"></app-summary-card>
      </div>
    }
  </div>

  @if (performanceTrend$ | async; as summary) {
    <div class="row">
      <div class="col-md-8">
        <app-linechart
          [xAxisLabels]="summary.xAxisNames"
          [seriesValues]="summary.yAxisData"
          [title]="summary.title"
          (chartClick)="onChartEvent($event)">
        ></app-linechart>
      </div>

      <!-- TODO: ENABLE VIEWING SUBJECT PERFORMANCE FOR AN EXAM -->
      <div class="col-md-4">
        <app-chart-data
          [title]="displayTitle"
          [displayedData]="displayedData"
          [mode]="displayMode"
          (onToggleMode)="toggleDisplayedData()"
        ></app-chart-data>
      </div>
    </div>
  }

  <!-- CLASS SUMMARY -->
  @if (examList$ | async; as exams) {
    <div class="row mt-4">
      <div class="col-md-12">
        <app-table [rows]="exams"></app-table>
      </div>
    </div>
  }
</div>
