.sidebar {
  width: var(--sidebar-width);
  min-height: calc(100vh - 80px);
  background-color: #F8F9FA;
  border-right: 1px solid #dddddd3e;
  padding: 16px 8px;
  position: fixed;
}
.sidebar a {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 8px;
}
.sidebar a:hover {
  background-color: #e9ecef;
}
