<div class="card h-100">
  <div class="d-flex justify-content-between align-items-center px-3 py-2">
    <div class="flex-column">
      <h6 class="mt-2 mb-0">Chart Details</h6>
      @if (!!title) {
        <small>{{ title }}</small>
      }
    </div>
    @if (title && otherMode) {
      <button (click)="onToggleMode.emit()" class="btn btn-sm btn-light">
        By {{otherMode | titlecase }}
      </button>
    }
  </div>
  @if (displayedData && displayedData.length > 0) {
    <app-table [rows]="displayedData"></app-table>
  }
  @else {
    <div class="d-flex justify-content-center align-items-center h-100">
      <p class="text-muted text-center">Click on a point the chart  <br />to view details</p>
    </div>
  }
</div>
