@import 'bootstrap/scss/bootstrap';

:root {
  --primary-color: #43AB49;
  --accent-color: #23AAE1;

  --nav-color: #F8F9FA;
  --light-bg-color: #FFFFFF;

  --sidebar-width: 200px;
  --topbar-height: 72px;
}


a {
  color: var(--primary-color);
}
